body {
    font-family: 'Montserrat', sans-serif;
}

.header{
    margin: 15px;
    padding: 10px;
}

.pages-header {
    background-color: seagreen;
    color: white;
    border-bottom-right-radius: 100px 100px;
}